body{
    background-color: #0094ff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
}
.container{
    width: 50%;
    height: fit-content;
    padding-bottom: 1em;
    border: none;
    box-shadow: 3px 1.5px 9px black;
    border-radius: 5px;
    background-color: #afafff;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}
h1{
    text-align: center;
}
input{
    width: 85%;
    border-radius: 10px;
    border: none;
    margin-top: 5px;
    text-align: center;
}
button{
    width: fit-content;
    margin-top: 5px;
    border-radius: 3px;
    border: none;
    background-color:dimgray;
}
#coctel{
    width: 90%;
    height: 75%;
    margin-top: 1em;
}
/* h2, img, p */
h2{
    font-size: 1em;
    text-align: center;
}
h2::first-letter{
    text-transform: capitalize;
}
img{
    width: 70%;
    margin: auto;
    display: block;
    border: none transparent;
    border-radius: 10px;
}
p{
    text-align: justify;
    padding: 3px 12px;
}
#buscarCoctel:hover{
    background-color: #0000df;
    color: white;
}
